<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="company">
      <ion-icon name="browsers-outline"></ion-icon>
      <ion-label>Brand</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="agenda">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Agenda</ion-label>
    </ion-tab-button>  

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
