<h1 class="heading">📸 Add a photo</h1>
<p class="pic-sub">Pick the most attractive image of your venue.</p>

@if (pictureEdit !== '') {
  <div class="pic-preview">
    <img [src]="pictureEdit" alt="Venue photo" />
  </div>
} @else {
  <button type="button" class="pic-drop" (click)="chooseOrTakePicture()">
    <ion-icon name="cloud-upload-outline"></ion-icon>
    <span>Tap to upload a photo</span>
  </button>
}

<ion-button expand="block" class="pic-primary" (click)="chooseOrTakePicture()">
  <ion-icon name="cloud-upload-outline" slot="start"></ion-icon>
  {{ pictureEdit !== '' ? 'Change photo' : 'Import a picture' }}
</ion-button>

@if (isEditing) {
  <button type="button" class="pic-keep" (click)="keepCurrentPicture()">Keep current picture</button>
}
