<ion-toolbar>
    <ion-buttons slot="start">
        <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-button (click)="handleTimeSelection()">Done</ion-button>
    </ion-buttons>
</ion-toolbar>
<ion-picker>
    <!-- Colonne des heures -->
    <ion-picker-column name="Hours" [value]="selectedHours" (ionChange)="onIonChange($event, 'Hours')">
        <ion-picker-column-option *ngFor="let option of optionHours" [value]="option.value">
            {{ option.text }}
        </ion-picker-column-option>
    </ion-picker-column>

    <!-- Colonne des minutes -->
    <ion-picker-column name="Minutes" [value]="selectedMinutes" (ionChange)="onIonChange($event, 'Minutes')">
        <ion-picker-column-option *ngFor="let option of optionMinutes" [value]="option.value">
            {{ option.text }}
        </ion-picker-column-option>
    </ion-picker-column>

    <!-- Colonne AM/PM -->
    <ion-picker-column name="Clock" [value]="selectedClock" (ionChange)="onIonChange($event, 'Clock')">
        <ion-picker-column-option value="AM">AM</ion-picker-column-option>
        <ion-picker-column-option value="PM">PM</ion-picker-column-option>
    </ion-picker-column>

</ion-picker>