<ion-content class="ion-padding">
    <!-- Header Section -->
    <div class="ion-padding-top logo-section logo">
      <ion-icon name="flash"></ion-icon>
      <span>InTouch</span>
    </div>
    <h1 class="greeting">Hello, {{ firstname }} 👋</h1>


    <!-- Search Bar -->
  <ion-searchbar class="searchbar-padding" #searchVal placeholder="Try 'Cancun' or 'Sushi'" (keyup)="search($event, searchVal.value)" autocapitalize="'on'"></ion-searchbar>

  <h2 class="greeting-2">Explore arround you</h2>
  <div class="scrolling-wrapper">
      <ion-card button (click)="navigation('cancun')">
        <img src="https://cdn.pixabay.com/photo/2016/03/04/05/12/cancun-1235489_960_720.jpg"/>
        <ion-card-title>Cancun</ion-card-title>
      </ion-card>
      <ion-card button (click)="navigation('isla mujeres')">
        <img src="https://cdn.pixabay.com/photo/2019/02/21/06/17/souvenir-shopping-4010707_960_720.jpg"/>
        <ion-card-title>Isla Mujeres</ion-card-title>
      </ion-card>
      <ion-card button (click)="navigation('playa carmen')">
        <img src="https://cdn.pixabay.com/photo/2017/07/06/06/32/puerto-del-carmen-2477181_960_720.jpg"/>
        <ion-card-title>Playa del Carmen</ion-card-title>
      </ion-card>
      <ion-card button (click)="navigation('tulum')">
        <img src="https://cdn.pixabay.com/photo/2018/02/27/13/10/sea-3185430_960_720.jpg"/>
        <ion-card-title>Tulum</ion-card-title>
      </ion-card>
      <ion-card button (click)="navigation('cozumel')">
        <img src="https://cdn.pixabay.com/photo/2016/04/25/08/38/cozumel-1351419_960_720.jpg"/>
        <ion-card-title>Cozumel</ion-card-title>
      </ion-card>
  </div>
  <h2 class="ion-margin-top greeting-2">The mexican brands</h2>
  <div class="scrolling-wrapper">
    <ion-card button (click)="navigation('aletazul')">
      <img src="https://intouch.ovh/media/images/kl6775cdx8qiyhnzzt1.jpeg"/>
      <ion-card-title>Aletazul</ion-card-title>
    </ion-card>
    <ion-card button (click)="navigation('rosanegra')">
      <img src="https://intouch.ovh/media/images/3g7zu8acxxmdbnulurn.jpeg"/>
      <ion-card-title>Rosanegra</ion-card-title>
    </ion-card>
    <ion-card button (click)="navigation('tora')">
      <img src="https://intouch.ovh/media/images/a7kkr0o75dgqs9942hx.jpeg"/>
      <ion-card-title>Tora</ion-card-title>
    </ion-card>
    <ion-card button (click)="navigation('taboo')">
      <img src="https://intouch.ovh/media/images/mzrn23l8b79znzdqkrq.jpeg"/>
      <ion-card-title>Taboo</ion-card-title>
    </ion-card>
  </div>
  <h2 class="ion-margin-top greeting-2">Inevitable foods</h2>
  <div class="scrolling-wrapper">
    <ion-card button (click)="navigation('tacos')">
      <img src="https://cdn.pixabay.com/photo/2016/08/23/08/53/tacos-1613795_960_720.jpg"/>
      <ion-card-title>Tacos</ion-card-title>
    </ion-card>
    <ion-card button (click)="navigation('sushi')">
      <img src="https://cdn.pixabay.com/photo/2019/08/09/18/32/sushi-roll-images-4395598_960_720.jpg"/>
      <ion-card-title>Sushi</ion-card-title>
    </ion-card>
    <ion-card button (click)="navigation('pizza')">
      <img src="https://cdn.pixabay.com/photo/2017/12/09/08/18/pizza-3007395_1280.jpg"/>
      <ion-card-title>Pizza</ion-card-title>
    </ion-card>
    <ion-card button (click)="navigation('steakhouse')">
      <img src="https://cdn.pixabay.com/photo/2022/08/31/12/38/steak-7423230_960_720.jpg"/>
      <ion-card-title>Steakhouse</ion-card-title>
    </ion-card>
    <ion-card button (click)="navigation('seafood')">
      <img src="https://cdn.pixabay.com/photo/2019/06/11/03/59/seafood-4265994_960_720.jpg"/>
      <ion-card-title>Seafood</ion-card-title>
    </ion-card>
  </div>
  <h2 class="ion-margin-top greeting-2">Inevitable activities</h2>
  <div class="scrolling-wrapper">
    <ion-card button (click)="navigation('adventure')">
      <img src="https://cdn.pixabay.com/photo/2015/09/26/21/33/suspension-bridge-959853_960_720.jpg"/>
      <ion-card-title>Adventure</ion-card-title>
    </ion-card>
    <ion-card button (click)="navigation('scuba diving')">
      <img src="https://cdn.pixabay.com/photo/2016/09/07/23/05/diving-1652869_960_720.jpg"/>
      <ion-card-title>Scuba diving</ion-card-title>
    </ion-card>
    <ion-card button (click)="navigation('spa')">
      <img src="https://cdn.pixabay.com/photo/2016/08/22/16/23/massage-therapy-1612308_960_720.jpg"/>
      <ion-card-title>Spa</ion-card-title>
    </ion-card>
    <ion-card button (click)="navigation('kitesurf')">
      <img src="https://cdn.pixabay.com/photo/2019/06/14/11/05/beach-4273396_960_720.jpg"/>
      <ion-card-title>Kitesurf</ion-card-title>
    </ion-card>
    <ion-card button (click)="navigation('event')">
      <img src="https://cdn.pixabay.com/photo/2016/12/29/12/36/sol-1938459_960_720.jpg"/>
      <ion-card-title>Event</ion-card-title>
    </ion-card>
  </div>
</ion-content>