<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{parameters.nameActivity}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item>
    <ion-label>
      <h1>{{ datas.nameActivity }}</h1>
      <p>{{ datas.typeActivity.nameTypeActivity}}</p>
      <ion-chip *ngIf="datas.isOnSit">On sit</ion-chip>
      <ion-chip *ngIf="datas.isTakeAway">Take away</ion-chip>
    </ion-label>
  </ion-item>
  <ion-item button >
    <ion-icon name="location-outline" size="default" style="padding-right: 20px;"></ion-icon>
    <ion-label>
      <ion-label>{{ datas.address.address1 }} {{ datas.address.address2 }}</ion-label>
      <ion-label>{{ datas.address.city }} {{ datas.address.postalCode }}</ion-label>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-wrap">{{ datas.description }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h1>Opening hours</h1>
      <p *ngFor="let open of datas.openings">
        {{open.fromDate}}: {{open.startDate}}-{{open.endDate}}
      </p>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-label class="ion-text-wrap">
      <h1>Contrats</h1>
      <p>List of contrats available</p>
    </ion-label>
  </ion-item>
  <ion-card *ngFor="let dataOffer of datasOffer">
    <ion-card-header>
      <ion-card-title>{{dataOffer.nameOffer}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label>
        <ion-card-subtitle>Offer</ion-card-subtitle>
        <p>{{dataOffer.descriptionOffer}}</p>
      </ion-label>
      <ion-label>
        <ion-card-subtitle style="padding-top: 20px;">Conditions</ion-card-subtitle>
        <p>{{dataOffer.descriptionCondition}}</p>
      </ion-label>
    </ion-card-content>
  </ion-card>
    

</ion-content>
