<ion-tabs>

  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="tab1" *ngIf="isInfluencer">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Explorer</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="company" *ngIf="!isInfluencer">
      <ion-icon name="browsers-outline"></ion-icon>
      <ion-label>Company</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Agenda</ion-label>
    </ion-tab-button>

    

    <ion-tab-button tab="tab3">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>

    
  </ion-tab-bar>

</ion-tabs>
