<!-- Image Carousel -->
<swiper-container slides-per-view="1" space-between="10" pagination="true" navigation="true">
  @for (company_image of company.imgCompany; track company_image) {
    <swiper-slide>
      <img [src]="company_image.file" class="company-image" />
    </swiper-slide>
  }
</swiper-container>

<ion-list>
  <ion-item>
    <ion-label>
      <h1 class="header-font">{{ company.nameCompany }}</h1>
      @if (company.typeCompany) {
        <p>{{ company.typeCompany.name}}</p>
      }
      @if (company.isOnsit) {
        <ion-chip class="chip-padding">On sit</ion-chip>
      }
      @if (company.isTakeaway) {
        <ion-chip class="chip-padding">Take away</ion-chip>
      }
    </ion-label>
  </ion-item>
  <ion-item button (click)="openMap()">
    <ion-icon name="location-outline" size="default" slot="start"></ion-icon>
    @if (company.address) {
      <ion-label>
        <h3>{{ company.address.addressPrincipal }} {{ company.address.addressSecondary }}</h3>
        <h3>{{ company.address.city }} {{ company.address.zipCode }}</h3>
      </ion-label>
    }
  </ion-item>
  @if (company.instagram) {
    <ion-item button>
      <ion-icon name="logo-instagram" size="default" slot="start"></ion-icon>
      <p>&#64;{{ company.instagram }}</p>
    </ion-item>
  }
  @if (company.tiktok) {
    <ion-item button>
      <ion-icon name="logo-tiktok" size="default" slot="start"></ion-icon>
      <p>{{ company.tiktok }}</p>
    </ion-item>
  }
  @if (company.youtube) {
    <ion-item button>
      <ion-icon name="logo-youtube" size="default" slot="start"></ion-icon>
      <p>{{ company.youtube }}</p>
    </ion-item>
  }
  @if (company.twitter) {
    <ion-item button>
      <ion-icon name="logo-twitter" size="default" slot="start"></ion-icon>
      <p>{{ company.twitter }}</p>
    </ion-item>
  }
  @if (company.facebook) {
    <ion-item button>
      <ion-icon name="logo-facebook" size="default" slot="start"></ion-icon>
      <p>{{ company.facebook }}</p>
    </ion-item>
  }
</ion-list>

<ion-item lines="none">
  <ion-label class="ion-no-margin">
    <h1 class="header-font header-margin">Description</h1>
    <ion-label class="ion-text-wrap text-justify">
      {{ showFullDescription ? company.description : (company.description | slice:0:300) }}
      @if (company.description.length > 300) {
        <span>
          @if (!showFullDescription) {
            ... <button ion-button fill="clear" size="small" (click)="toggleDescription()" class="background-white">Read more</button>
          }
          @if (showFullDescription) {
            <button ion-button fill="clear" size="small" (click)="toggleDescription()" class="background-white">Show less</button>
          }
        </span>
      }
    </ion-label>
  </ion-label>
</ion-item>


<ion-item lines="none">
  <ion-label class="ion-no-margin">
    <h1 class="header-font header-margin">Opening Hours</h1>
    @for (open of company.openings; track open) {
      <div class="opening-row">
        <div class="opening-day">
          <strong>{{ open.day }}</strong>
        </div>
        <div class="opening-hours">
          <span>{{ open.openHour }} - {{ open.closeHour }}</span>
        </div>
      </div>
    }
  </ion-label>
</ion-item>