<ion-content>
    <!-- Pull-to-refresh -->
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <!-- Floating Action Buttons -->
    <ion-fab slot="fixed" vertical="top" horizontal="start">
        <ion-fab-button (click)="back()" fill="clear" class="fab-bg">
            <ion-icon name="close" color="light"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <div *ngIf="loaded">
        <app-company-main-view [company]="company"></app-company-main-view>

        <ion-fab slot="fixed" vertical="top" horizontal="end">
            <ion-fab-button>
                <ion-icon name="chevron-down-circle"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="bottom">
                <ion-fab-button (click)="editCompany()">
                    <ion-icon name="create-outline"></ion-icon>
                </ion-fab-button>
                <ion-fab-button>
                    <ion-icon name="trash-outline"></ion-icon>
                </ion-fab-button>
            </ion-fab-list>
        </ion-fab>

        <ion-item lines="none">
            <ion-label class="ion-text-wrap">
                <h1 class="header-font">Collaborations</h1>
                <p>List of collaborations that you propose</p>
            </ion-label>
            <ion-button slot="end" size="default" fill="solid" [routerLink]="['contract/create']">New
                contract</ion-button>
        </ion-item>

        <app-offer-card [contract]="deal" (actionPerformed)="onActionPerformed($event)"
            *ngFor="let deal of deals"></app-offer-card>
    </div>

    <div *ngIf="!loaded">
        <app-company-skeleton></app-company-skeleton>
    </div>


</ion-content>