.coming-soon-row {
    align-items: center;
}

.date-col {
    text-align: center;
    color: rgb(185, 171, 171);
  }

  .day {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }

.date {
    color: #0F5298;
    font-weight: bold;
    font-size: 35px;
    margin: 0;
}

.event-card {
    border-radius: 12px;
    margin-top: 0px;
}

.event-info {
    color: #0F5298;
  }