<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calendar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calendar</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="tab2Padding">
    <ion-list>
      <ion-item>
        <ion-icon name="help-outline" slot="start"></ion-icon>
        <ion-label>Waiting for an answer</ion-label>
        <ion-label slot="end" class="no-margin">1</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="time-outline" slot="start"></ion-icon>
        <ion-label>Last experiences</ion-label>
        <ion-label slot="end" class="no-margin">42</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="close-outline" slot="start"></ion-icon>
        <ion-label>Unsuccessful</ion-label>
        <ion-label slot="end" class="no-margin">35</ion-label>
      </ion-item>
    </ion-list>
    <ion-text>
      <h2>Coming soon</h2>
    </ion-text>
    <p>
      <ion-text>
        1 experience to come
      </ion-text>
    </p>
  </div>  

</ion-content>
