<article class="card">

  <div class="card-top">
    <div class="avatar">
      @if (influencer.avatar) {
        <img [src]="influencer.avatar" [alt]="influencer.firstname" />
      } @else {
        <span>{{ initials }}</span>
      }
    </div>

    <div class="head">
      <p class="name">{{ influencer.firstname }} {{ influencer.lastname }}</p>
      @if (primaryHandle) {
        <p class="handle">{{ primaryHandle }}</p>
      }
    </div>

    @if (influencer.averageRating != null && (influencer.reviewCount ?? 0) > 0) {
      <span class="rating">
        <ion-icon name="star"></ion-icon>
        {{ influencer.averageRating | number:'1.1-1' }}
      </span>
    }
  </div>

  @if (socials.length) {
    <div class="stats">
      @for (s of socials; track s.icon) {
        <div class="stat">
          <ion-icon [name]="s.icon" [class]="s.cls"></ion-icon>
          <span class="stat-num">{{ s.value }}</span>
          <span class="stat-lab">{{ s.label }}</span>
        </div>
      }
    </div>
  }

</article>
