<ion-content >
<div class="header">

  <!--Content before waves-->
  <div class="inner-header flex">
    <h1>Welcome to</h1>
  </div>
  <div class="inner-header flex">
    <h1 style="margin-top: 0">BrandBoots</h1>
  </div>
  
  
  <!--Waves Container-->
  <div>
  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
  viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
  <defs>
  <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
  </defs>
  <g class="parallax">
  <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
  <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
  <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
  <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
  </g>
  </svg>
  </div>
  <!--Waves end-->
  
  </div>
  <!--Header ends-->
  
  <!--Content starts-->
 <!-- <div class="content flex">-->
  <div class="content ">
  <ion-text>
    <h1 style="font-weight: bold;">Manage your brand</h1>
  </ion-text>
  <ion-text>
    <p>Boots your company's communication by creating experiences with influencers. An easy way to create a contract between your company and an influencer.</p>
  </ion-text>

  <ion-card>
    <ion-list-header>
      <ion-label>List of all your brand</ion-label>
      <ion-button fill="clear" (click)="createCompanyBtn()"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
    </ion-list-header>
    <ion-card button *ngFor="let company of lstCompanys" (click)="showDetail(company['id'], company['nameCompany'])">
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title style="text-align: left;">{{ company['nameCompany'] }}</ion-card-title>
      </ion-card-header>

    </ion-card>
    <!--
    <div class="createCompanyCSS">
      <ion-list>
        <ion-list-header>
          <ion-label>List of all your brand</ion-label>
          <ion-button fill="clear" (click)="createCompanyBtn()"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
        </ion-list-header>
        <ion-item button *ngFor="let company of lstCompanys" (click)="showDetail(company['id'], company['nameCompany'])">
          <ion-label>{{ company['nameCompany'] }}</ion-label>
        </ion-item>
      </ion-list>
      
    </div>
    -->
  </ion-card>
  <br>
</div>
<!--</div>-->
<!--Content ends-->
  
</ion-content>
<!--
<div class="container">
  
<ion-header>
  <ion-toolbar>
    <ion-title>Company</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <svg viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
    <path d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z" style="stroke: none; fill:red;"></path>
  </svg>
  

  <ion-header collapse="condense" >
    <ion-toolbar >
      <ion-title size="large" style="color: #000000;">Company</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <div class="createCompanyCSS">
      <ion-list>
        <ion-item button *ngFor="let company of lstCompanys" (click)="showDetail(company['id'], company['nameCompany'])">
          <ion-label>{{ company['nameCompany'] }}</ion-label>
        </ion-item>
      </ion-list>
      <ion-button fill="clear" (click)="createCompanyBtn()">ADD ENTRY</ion-button>
    </div>
    
  </ion-card>



</ion-content>
</div>
-->