<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/influencer/calendar"></ion-back-button>
    </ion-buttons>
    <ion-title>Collaboration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (isLoad) {
    <div>
      <app-booking-view [reservation]="reservation"></app-booking-view>
      @if ((reservation.status === ApplicationStatus.Pending || reservation.status === ApplicationStatus.Accepted) && !isPastReservation()) {
        <ion-button expand="full" fill="outline" color="danger" (click)="cancelReservation()">
          <ion-icon name="close-circle" slot="start"></ion-icon>Cancel
        </ion-button>
      }
    </div>
  }
</ion-content>