<!--<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <div class="banner">
    <ion-label>Welcome to In-Touch</ion-label>
  </div>
  
  <form class="form div-item" [formGroup]="validations_form"  (ngSubmit)="onSubmit(validations_form.value)">
   <ion-list lines="none">
      <ion-item class="animated fadeInRight item-input">
        <ion-input  inputmode="text" autofocus="true" formControlName="firstName"  placeholder="{{'firstName'|translate}}"></ion-input>
      </ion-item>
      <ion-item class="animated fadeInRight item-input">
        <ion-input inputmode="text" formControlName="lastName"  placeholder="{{'lastName'|translate}}"></ion-input>
      </ion-item>
      <ion-item class="animated fadeInRight item-input">
        <ion-input inputmode="email" formControlName="email"  placeholder="Email"></ion-input>
      </ion-item>
      
      <ion-item class="animated fadeInRight item-input">
        <ion-input [type]="passwordType"  formControlName="password" placeholder="{{'password'|translate}}"></ion-input>
        <ion-icon  [name]="passwordIcon" item-end></ion-icon>
      </ion-item>
     
      <ion-item class="animated fadeInRight item-input">
        <ion-input [type]="passwordType"  formControlName="confirmpassword" placeholder="{{'confirm password'|translate}}"></ion-input>
        <ion-icon  [name]="passwordIcon" item-end></ion-icon>
      </ion-item>
  
    </ion-list>

  
   
    <ion-button class="btn-reg" type="submit"  [disabled]="!validations_form.valid">
      {{"Register"|translate}}
    </ion-button>
  </form>
  
  <ion-button buttonType="button" class="btn-login" routerLink="/login">
    {{"Login"|translate}}
  </ion-button>
</ion-content>
-->

<ion-content [fullscreen]="true">
  <div class="container">
    <h1 class="heading">🚀 Create Account<br><br></h1>
    <p class="para">Sign up to get started!</p>
    <form [formGroup]="validations_form">
      <ion-item lines="none" class="ion-item">
        <fieldset  class="input-item">
          <legend>First name</legend> 
          <ion-input formControlName="firstName" type="text" placeholder="John"></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset  class="input-item">
          <legend>Last name</legend> 
          <ion-input formControlName="lastName" type="text" placeholder="Doe"></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset  class="input-item">
          <legend>Email</legend> 
          <ion-input formControlName="email" type="email" placeholder="john@doe.com"></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Password</legend> 
          <ion-input formControlName="password" type="password" placeholder="*******"></ion-input>
        </fieldset>
      </ion-item>
      <p class="signup-text">I'm already a member&nbsp;<a (click)="signin()">Sign In?</a></p>
      <ion-button class="login-button" (click)="register()" expand="block" [disabled]="!validations_form.valid">Sign Up</ion-button>
    </form>
  </div>
</ion-content>