<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <div class="banner">
    <ion-label>Welcome to In-Touch</ion-label>
  </div>
  
  <form class="form div-item" [formGroup]="validations_form"  (ngSubmit)="onSubmit(validations_form.value)">
   <ion-list lines="none">
      <ion-item class="animated fadeInRight item-input">
        <ion-input  inputmode="text" autofocus="true" formControlName="firstName"  placeholder="{{'firstName'|translate}}"></ion-input>
      </ion-item>
      <ion-item class="animated fadeInRight item-input">
        <ion-input inputmode="text" formControlName="lastName"  placeholder="{{'lastName'|translate}}"></ion-input>
      </ion-item>
      <ion-item class="animated fadeInRight item-input">
        <ion-input inputmode="email" formControlName="email"  placeholder="Email"></ion-input>
      </ion-item>
      
      <ion-item class="animated fadeInRight item-input">
        <ion-input [type]="passwordType"  formControlName="password" placeholder="{{'password'|translate}}"></ion-input>
        <ion-icon  [name]="passwordIcon" item-end></ion-icon>
      </ion-item>
     
      <ion-item class="animated fadeInRight item-input">
        <ion-input [type]="passwordType"  formControlName="confirmpassword" placeholder="{{'confirm password'|translate}}"></ion-input>
        <ion-icon  [name]="passwordIcon" item-end></ion-icon>
      </ion-item>
  
    </ion-list>

  
   
    <ion-button class="btn-reg" type="submit"  [disabled]="!validations_form.valid">
      {{"Register"|translate}}
    </ion-button>
  </form>
  
  <ion-button buttonType="button" class="btn-login" routerLink="/login">
    {{"Login"|translate}}
  </ion-button>
</ion-content>
