<div class="ion-page">
    <ion-header class="ion-no-border">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
            <ion-title>New reservation</ion-title>
            <ion-buttons slot="end">
                <ion-button class="confirm-btn" [strong]="true" (click)="confirm()">Confirm</ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
        <h2 class="resa-title">Pick a date &amp; time</h2>
        <div class="resa-cal">
            <ion-datetime [min]="minDate" [max]="maxDate" [(ngModel)]="dateReservation" ngDefaultControl>
                <span slot="title">Select a reservation date</span>
            </ion-datetime>
        </div>

        <div class="resa-terms">
            <ion-checkbox justify="start" labelPlacement="end" (ionChange)="onTermsChanged($event)" [checked]="canDismiss">
                I accept the terms &amp; conditions
            </ion-checkbox>
        </div>
    </ion-content>
</div>
