<ion-content [fullscreen]="true">
  <div class="ion-padding-horizontal">
    <ion-item lines="none" style="--padding-start: 0">
      @if (isIndiceNotMinMax()) {
        <ion-button slot="start" size="large" color="white" (click)="previous()"
          style="--box-shadow: none">
          <ion-icon name="chevron-back-outline" slot="start" size="large" color="dark"></ion-icon>
        </ion-button>
      }
      <ion-button slot="end" size="large" color="white" (click)="back()" style="--padding-end: 0; --box-shadow: none">
        <ion-icon name="close-outline" slot="end" size="large" color="dark"></ion-icon>
      </ion-button>

    </ion-item>

    <ion-progress-bar [value]="progress"></ion-progress-bar>

    @if (step === steps[0] && isLoad()) {
      <div>
        <app-company-main
          [companyEdit]="companyMainData"
          (companyData)="nextCompanyMain($event)">
        </app-company-main>
      </div>
    }

    @if (step === steps[1]) {
      <div>
        <app-company-description
          [descriptionEdit]="companyDescription"
          (description)="nextDescription($event)">
        </app-company-description>
      </div>
    }

    @if (step === steps[2]) {
      <div>
        <app-company-social-media
          [socialMediaEdit]="companySocialMedia"
          (socialMedia)="nextSocialMedia($event)">
        </app-company-social-media>
      </div>
    }

    @if (step === steps[3]) {
      <div>
        <app-company-address
          [addressEdit]="companyAddress"
          (address)="nextAddress($event)">
        </app-company-address>
      </div>
    }

    @if (step === steps[4]) {
      <div>
        <app-company-opening-day
          [openingDayEdit]="companyOpeningDay"
          (openingDay)="nextOpeningDay($event)">
        </app-company-opening-day>
      </div>
    }

    @if (step === steps[5]) {
      <div>
        <app-company-picture
          [isEditing]="true"
          [pictureEdit]="companyImgSrc"
          (dataFile)="nextPicture($event)">
        </app-company-picture>
      </div>
    }

    @if (step === steps[6]) {
      <div>
        <h1 class="heading item-text-wrap">💾 Do you want to save all your modifications ?</h1>
        <ion-row class="ion-padding">
          <ion-col size="6">
            <ion-button expand="full" color="primary" shape="round" (click)="submit()">Yes</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button expand="full" color="danger" shape="round" (click)="back()">No</ion-button>
          </ion-col>
        </ion-row>
      </div>
    }


  </div>
</ion-content>