<ion-content [fullscreen]="true">
  <div class="ion-padding-horizontal">
    <ion-item lines="none" style="--padding-start: 0">
      @if (isIndiceNotMinMax()) {
        <ion-button slot="start" size="large" color="white" (click)="previous()" style="--box-shadow: none">
          <ion-icon name="chevron-back-outline" slot="start" size="large" color="dark"></ion-icon>
        </ion-button>
      }
      <ion-button slot="end" size="large" color="white" (click)="back()" style="--padding-end: 0; --box-shadow: none">
        <ion-icon name="close-outline" slot="end" size="large" color="dark"></ion-icon>
      </ion-button>

    </ion-item>

    <ion-progress-bar [value]="progress"></ion-progress-bar>

    @if (step === steps[0]) {
      <div>
        <app-venue-main
          [venueEdit]="venueMainData"
          (venueData)="nextVenueMain($event)">
        </app-venue-main>
      </div>
    }

    @if (step === steps[1]) {
      <div>
        <app-venue-description
          [descriptionEdit]="venueDescription"
          (description)="nextDescription($event)">
        </app-venue-description>
      </div>
    }

    @if (step === steps[2]) {
      <div>
        <app-venue-social-media
          [socialMediaEdit]="venueSocialMedia"
          (socialMedia)="nextSocialMedia($event)">
        </app-venue-social-media>
      </div>
    }

    @if (step === steps[3]) {
      <div>
        <app-venue-address
          [addressEdit]="venueAddress"
          (address)="nextAddress($event)">
        </app-venue-address>
      </div>
    }

    @if (step === steps[4]) {
      <div>
        <app-venue-opening-day
          [openingDayEdit]="venueOpeningDay"
          (openingDay)="nextOpeningDay($event)">
        </app-venue-opening-day>
      </div>
    }

    @if (step === steps[5]) {
      <div>
        <app-venue-picture
          [pictureEdit]="venueImgSrc"
          (dataFile)="nextPicture($event)">
        </app-venue-picture>
      </div>
    }

    @if (step === steps[6]) {
      <div>
        <h1 class="heading item-text-wrap">💾 Do you want to save your venue ?</h1>
        <ion-row class="ion-padding">
          <ion-col size="6">
            <ion-button expand="full" color="primary" shape="round" (click)="submit()">Yes</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button expand="full" color="danger" shape="round" (click)="back()">No</ion-button>
          </ion-col>
        </ion-row>
      </div>
    }
  </div>
</ion-content>
