.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;


    ion-card {
        flex: 0 0  auto;
        //width: 100% !important;
        width: 200px;
        height: 250px;
        position: relative;
        text-align: left;
    }

    ion-card-title {
        margin-left: 3%;
        position: absolute;
        top: 70%;
        font-size: 2.0em;
        width: 100% !important;
        font-weight: bold;
        color: white;
    }

    img{
        //-webkit-filter: brightness(50%);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
        object-fit: cover;
        position: center;
        width: 200px;
        height: 250px;
    } 

    &::-webkit-scrollbar {
        display: none;
      }
    
    
}

.padding-button {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;

    ion-button {
        --color: black;
        //border-color: gray;
        --border-radius: 0;
        --border-color: rgb(168, 165, 165);
        --border-style: solid;
        --border-width: 1px;
    }
}

h2 {
    padding-left: 10px;
}

.event {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    
    ion-card {
        background-color: rgb(46, 104, 57);
    }

    ion-card-title {
        padding-top: 10px;
        color: white;
    }

    ion-card-subtitle {
        padding-bottom: 10px;
        color: white;
    }

}

.event2 {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    
    
    ion-card {
        //border-style: none;
        background-color: rgb(56, 58, 171);
    }

    ion-card-title {
        padding-top: 10px;
        color: white;
    }

    ion-card-subtitle {
        padding-bottom: 10px;
        color: white;
    }

}