@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin:0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  //height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  //height:20vh;
  //width: 100%;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}


.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;


    ion-card {
        flex: 0 0  auto;
        //width: 100% !important;
        width: 200px;
        height: 250px;
        position: relative;
        text-align: left;
    }

    ion-card-title {
        margin-left: 3%;
        position: absolute;
        top: 70%;
        font-size: 2.0em;
        width: 100% !important;
        font-weight: bold;
        color: white;
    }

    img{
        //-webkit-filter: brightness(50%);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
        object-fit: cover;
        position: center;
        width: 200px;
        height: 250px;
    } 

    &::-webkit-scrollbar {
        display: none;
      }
    
    
}

.padding-button {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;

    ion-button {
        --color: black;
        //border-color: gray;
        --border-radius: 0;
        --border-color: rgb(168, 165, 165);
        --border-style: solid;
        --border-width: 1px;
    }
}

h2 {
    padding-left: 10px;
}

.event {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    
    ion-card {
        background-color: rgb(46, 104, 57);
    }

    ion-card-title {
        padding-top: 10px;
        color: white;
    }

    ion-card-subtitle {
        padding-bottom: 10px;
        color: white;
    }

}

.event2 {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    
    
    ion-card {
        //border-style: none;
        background-color: rgb(56, 58, 171);
    }

    ion-card-title {
        padding-top: 10px;
        color: white;
    }

    ion-card-subtitle {
        padding-bottom: 10px;
        color: white;
    }

}